.DS_Store
.CFUserTextEncoding
.claude.json
.claude/
.config/
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/
